<% content_for :title, "Showing order" %>

<div class="md:w-2/3 w-full mx-auto px-4">
  <div class="bg-white p-6 rounded-lg shadow-md">

    <% if notice.present? %>
      <p id="notice" class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block">
        <%= notice %>
      </p>
    <% end %>

    <h1 class="font-bold text-4xl mb-6">Showing order</h1>

    <%= render @admin_order %>

    <div class="flex flex-col sm:flex-row gap-2 mt-6">
      <%= link_to "Edit this order", edit_admin_order_path(@admin_order),
        class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium transition" %>

      <%= link_to "Back to orders", admin_orders_path,
        class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium transition" %>

      <%= button_to "Destroy this order", admin_order_path(@admin_order), method: :delete,
        form_class: "w-full sm:w-auto",
        class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer transition",
        data: { turbo_confirm: "Are you sure?" } %>
    </div>

  </div>
</div>
